; https://github.com/uiriansan/SilentSDDM

[SddmGreeterTheme]
Name=Silent
Type=sddm-theme
Theme-Id=silent
MainScript=Main.qml
QtVersion=6

ConfigFile=configs/default.conf
